body{
    margin: 0;
    padding: 0;
}

.mobile-logo {
    width: 65px;
    height: 65px;
}

.hidden {
    display: none;
}
.hidden-2 {
    display: none;
}

.card-img-central {
    background-image: url(../assets/Logo/imagenCentral.png);
    background-size: cover; 
    background-repeat: no-repeat;
    height: 80vh;
}

.bg-grey {
    background-color: rgb(106, 105, 105);
}
.bg-brown-dark {
    background-color: rgb(92, 66, 30);
}
.bg-brown {
    background-color: rgb(250, 203, 142);
}

.text-brown {
    color: rgb(250, 203, 142);
}
.text-brown-dark {
    color: rgb(92, 66, 30);
}


.btn-brown {
    border: solid 2px rgb(250, 203, 142);
}
.btn-brown:hover {
    background-color: rgb(250, 203, 142);
    color: black;
}

.btn-brown-dark {
    border: solid 2px rgb(92, 66, 30);
}
.btn-brown-dark:hover {
    background-color:  rgb(92, 66, 30);
    color: white;
}

.img-recipe {
    height: 300px;
    width: 400px;
}

/*Media queries*/
/* @media screen and (min-width:480px) and (max-width:940px){
    
} */

@media screen and (min-width:941px) and (max-width:1300px){
    .hidden {
        display: block;
    }
    .mobile-logo {
        display: none;
    }
    .hidden-1 {
        display: none;
    }
    .hidden-2 {
        display: flex;
    }
}

@media screen and (min-width:1301px){
    .hidden {
        display: block;
    }
    .mobile-logo {
        display: none;
    }
    .hidden-1 {
        display: none;
    }
}