body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 208, 124);
}

.mobile-logo {
    width: 65px;
    height: 65px;
}

.hidden {
    display: none;
}

/*Media queries*/
/* @media screen and (min-width:480px) and (max-width:940px){
    
} */

@media screen and (min-width:941px) and (max-width:1300px){
    .hidden {
        display: block;
    }
    .mobile-logo {
        display: none;
    }
}

@media screen and (min-width:1301px){
    .hidden {
        display: block;
    }
    .mobile-logo {
        display: none;
    }
}